In [1]:
import pickle as pkl
import pandas as pd
import numpy as np

In [2]:
with open('./output.pkl','rb') as f:
    datas = pkl.load(f)

In [3]:
datas = [x['GBR_model'].iloc[:,[0,-1]] for x in datas]

In [4]:
true = [data.iloc[:,-1] for data in datas]

In [5]:
true = pd.concat(true, axis=1).iloc[:,:-1]

In [6]:
true

,CYEAR=2000,CYEAR=2001,CYEAR=2002,CYEAR=2003,CYEAR=2004,CYEAR=2005,CYEAR=2006,CYEAR=2007,CYEAR=2008,CYEAR=2009,CYEAR=2010,CYEAR=2011,CYEAR=2012
0,0.785269,1.235895,1.256192,1.362922,1.344596,2.049668,2.333528,2.321036,3.613499,2.166231,3.285714,4.484240,2.821710
1,3.834557,4.224341,1.731875,1.254535,1.826005,1.951407,1.563726,2.855405,1.802060,-0.863299,-1.053564,-1.481362,-1.047096
2,5.600000,4.700000,5.000000,4.800000,4.600000,4.800000,5.400000,5.300000,5.600000,7.500000,7.800000,8.000000,7.900000

In [7]:
pred = [data.iloc[:,0] for data in datas]

In [8]:
pred = pd.concat(pred, axis=1).iloc[:,:-2]

In [9]:
pred

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,0.528940,1.224065,0.974159,1.238924,1.183476,1.624538,1.862761,1.994376,2.975589,1.040496,3.669730,4.987167
1,2.961764,3.492698,1.706393,1.378301,1.918263,2.005189,1.699752,2.006523,2.115074,1.409744,1.158246,0.490802
2,4.820052,3.959887,4.337949,4.092952,4.126703,4.690189,5.306482,5.572294,6.564552,6.904358,7.796179,9.249338

In [10]:
rw_pred_std = np.std(true.values[:,1:] - true.values[:,:-1], axis=1)

In [11]:
rw_pred_std

array([0.89750698, 1.13243115, 0.63174145])

In [12]:
pred_std = np.std(true.values[:,1:] - pred.values, axis=1)

In [13]:
pred_std

array([1.06993395, 1.39337163, 0.62881436])